<h1>Admin Page</h1>

<img src="../../../assets/IP_Logo.png" alt="IP" sizes="30px">

<div>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Badge 1</th>
                <th>Badge 2</th>
                <th>Badge 3</th>
            </tr>        

        </thead> 

        <tbody>
            <tr *ngFor = "let data of userData">
                <td> {{data.name}} </td>
                <td> {{data.badge1}}</td>
            </tr>
        </tbody>

    </table>
</div>