<h1>Admin Page</h1>

<!--img src="../../../assets/IP_Logo.png" alt="IP" sizes="30px"-->
<br>


<div>
    <label >Search</label>
    <input (input)="tcode=$event.target.value" type="text" placeholder="Search by username" class="form-control">
    <button class="btn btn-success" (click)="submit()">Submit</button>
</div>

<br>

<div>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th contenteditable="true">Badge 1</th>
                <th>Badge 2</th>
                <th>Badge 3</th>
                <th>Badge 4</th>
                <th>Badge 5</th>
                <th>Badge 6</th>
                <th>Badge 7</th>
                <th>Badge 8</th>
                <th>Badge 9</th>
                <th>Badge 10</th>

            </tr>        

        </thead> 

        <tbody>
            <tr *ngFor = "let data of userData">
                <td> {{data.name}} </td>
                <td> <input type="checkbox" value="true"> {{data.badge1}}</td>
                <td> <input type="checkbox" value="true" > {{data.badge2}}</td>
                <td> <input type="checkbox" value="true" > {{data.badge3}}</td>
                <td> <input type="checkbox" value="true" > {{data.badge4}}</td>
                <td> <input type="checkbox" value="true" > {{data.badge5}}</td>
                <td> <input type="checkbox" value="true" > {{data.badge6}}</td>
                <td> <input type="checkbox" value="true" > {{data.badge7}}</td>
                <td> <input type="checkbox" value="true" > {{data.badge8}}</td>
                <td> <input type="checkbox" value="true" > {{data.badge9}}</td>
                <td> <input type="checkbox" value="true" > {{data.badge10}}</td>

            </tr>

        </tbody>

    </table>
</div>

