.click {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.bar {
    width: 10px;
    height: 75px;
    margin-left: 10px;
    background-color: white;
}